<mat-toolbar color="primary" class="mat-elevation-z6">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>girl</mat-icon>
  </button>
  <span>CassLady</span>
  <span class="example-spacer"></span>
  <button mat-raised-button  routerLink="/add">
    <mat-icon>add</mat-icon>
    Add
  </button>
  &nbsp;
  <button  mat-raised-button    routerLink="/users">
    <mat-icon>lists</mat-icon> List
  </button>
</mat-toolbar>


<router-outlet></router-outlet>

